/* HomePage.css */
.home-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.select-column {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.home-card-container {
  justify-content: center;
  align-items: center;
  border: 5px solid #4CAF50; /* Borde verde */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin: 20px; /* Espaciado externo */
  background-color: white; /* Fondo blanco para la tarjeta */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para el efecto de tarjeta */
}

.carousel-column {
  width: 60%;
  padding: 20px;
}

.carousel-image {
  width: 100%;
  border-radius: 8px;
}

h1 {
  color: #41CC65;
  text-align: center;
}

select {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #41CC65;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center; /* Centra los botones */
  margin-top: 10px; /* Espacio superior entre el select y el botón */
}

button {
  padding: 10px 20px;
  background-color: #41CC65;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #39B859; /* Un color más oscuro al pasar el mouse */
}

/* Estilos para el footer si es necesario */
footer {
  background-color: #67E0C8;
  padding: 20px 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .row {
  width: 100%;
  text-align: center;
}

footer p {
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: large;
}

footer a {
  margin: 0 15px;
}

footer a i {
  font-size: 2rem;
}