:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}


nav{
  background-color: #4ECDBE;
  color: white;
  display: flex; 
  justify-content: center;
}

nav a{
  color: white;
  text-decoration: none;
  padding: 1em;
  
}

nav a:hover{
  background-color: #4ECDBE;
}
.active {
  background-color: #007fba;
  font-weight: bold;
}

main{
  padding: 1em;
  box-sizing: border-box;
}

footer {
  background-color: #4ECDBE; /* Color de fondo */
  padding: 20px 0; /* Espaciado vertical */
}

footer .container {
  display: flex;
  flex-direction: column; /* Colapsar columnas en móvil */
  align-items: center; /* Centrar contenido */
}

footer .row {
  width: 100%; /* Ocupa todo el ancho */
  text-align: center; /* Centrar texto */
}

footer p {
  margin: 0; /* Eliminar margen */
  font-weight: large;
  color: white;
   /*font-size: 1rem; Tamaño de fuente */
}


footer a {
  margin: 0 15px; /* Espaciado entre íconos */
}

footer a i {
  font-size: 2rem; /* Tamaño predeterminado para pantallas grandes */
}